# Core functionality - changes here should be rare!
/src/app.py                   @hunter117985
/src/backend/database.py      @hunter117985
/src/backend/routers/auth.py  @hunter117985

# The frontend will need refactored soon to be more object oriented.
/src/static/   @hunter117985
